@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
}

#root {
  font-family: "Montserrat", sans-serif;
}

.Container {
  box-shadow: 0px 0px 50px #bb625b;
}
